@font-face {
    font-family: 'FontAwesome';
    src: url('../../public/static/fonts/fontawesome-webfont.eot');
    src: url('../../public/static/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../public/static/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('../../public/static/fonts/fontawesome-webfont.woff') format('woff'),
        url('../../public/static/fonts/FontAwesome.otf'),
        url('../../public/static/fonts/fontawesome-webfont.svg#VarelaRound') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../../public/static/fonts/GothamPro-Bold.eot');
    src: url('../../public/static/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/static/fonts/GothamPro-Bold.woff') format('woff'),
        url('../../public/static/fonts/GothamPro-Bold.ttf'),
        url('../../fonts/GothamPro-Bold.svg#VarelaRound') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'GothamPro';
    src: url('../../public/static/fonts/GothamPro-Medium.eot');
    src: url('../../public/static/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GothamPro-Medium.woff') format('woff'),
        url('../../public/static/fonts/GothamPro-Medium.ttf'),
        url('../../fonts/GothamPro-Medium.svg#VarelaRound') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../../public/static/fonts/GothamPro.eot');
    src: url('../../public/static/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../../public/static/fonts/GothamPro.woff') format('woff'),
        url('../../public/static/fonts/GothamPro.ttf'),
        url('../../fonts/GothamPro.svg#VarelaRound') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../../public/static/fonts/GothamPro-Light.eot');
    src: url('../../public/static/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/static/fonts/GothamPro-Light.woff') format('woff'),
        url('../../public/static/fonts/GothamPro-Light.ttf'),
        url('../../fonts/GothamPro-Light.svg#VarelaRound') format('svg');
    font-weight: 100;
    font-style: normal;
}
